/* Common share style */
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.banner{
    display: flex;
    padding: 30px 30px 30px 150px;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}
.banner .banner-flower{
    width: 400px;
    margin-bottom: 0;
    
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    padding: 15px 35px;
    border: 0;
    border-radius: 8px;
    background: #E55473;
}
/* featured style */
.featured-info-container,.social-media-contact{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
.featured-title,.insta-head,.latest-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
line-height: normal;
}
.featured-description,.insta-details,.latest-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.featured-area-content{
    height: 500px;
    width: 1200px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 50px;
}
.flowers-full{
    display: flex;
    justify-content: space-between;
}
.bg-round-top{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 20px;
    height: 414px;
    width: 340px;
}
.pink-flowers{
    background-color: rgba(167, 33, 98, 0.15);
}
.maroon-flowers{
    background-color: rgba(5, 151, 160, 0.15);
}
.yellow-flowers{
    background-color: rgba(71, 125, 17, 0.15);
}
.flowers-image{
    width: 100%;
    height: 400px;
    padding-top: 32px;
}
.bottom-flowers{
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* instagram style */
.section-title{
    color:  #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.services{
    height: 250px;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.services-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
.services-icon{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}
.services-image .div{
    text-align: center;
}


/* discount style */
.text-contentr{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    
}
.cover-container{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
}
/* shop Section styles */
.resume-column-title{
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
}

.shop-container{
    display: flex;
    gap: 30px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: space-around;
    align-items: center;
    padding: 130px;
}
.shop-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.shop-description{
    /* color: #757575; */
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
span{
    color: #E55473;
}
.bt-primary{
    padding: 10px 35px;
    background-color: #E55473;;
    border: none;
    color: white;
    
}

/* subcribe product*/
.product{
    display: flex;
    gap: 5px;
    
}
.product-img{
     width: 90%;
    
}

.title-primary{
    align-items: center;
    text-align: center;
    
}
.full-deals{
    padding: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-image: url('/Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    
}
.dec{
    color: #27272799;
}
.sb-title{
    color: #272727;
    font-size: 30px;
    margin-bottom: 0;
}
.from-btn{
    align-items: center;
    text-align: center;
}
input{
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding: 9px;
    border: none;
}
.bt-primary{
    padding: 20px 45px;
    background-color: #E55473;;
    border: none;
    color: white;
    
}

/* footer style */
.footer-color{
    background: #111010;
    padding: 50px;
    color: white;
}
.footer-title{
    color: #E55473;
    font-family: Lato;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-title span{
    color: #FFFFFF;
}
.footer-discription{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.receive{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
